.App {
  text-align: center;
}
.inpText{
  border-color: transparent;
  border-bottom: 1px solid grey;
  
}
input{
  padding: 20px;
  margin: 0 0 4px 0;
}
.inpBtn{
  padding: 10px;
  padding-left: 45px;
  padding-right: 45px;
}
#lblCount1, #lblCount2{
  padding-left: 5px;
  color: green;
  font-weight: bold;
}
