.App {
  text-align: center;
}
.inpText{
  border-color: transparent;
  border-bottom: 1px solid grey;
  
}
input{
  padding: 20px;
  margin: 0 0 4px 0;
}
.inpBtn{
  padding: 10px;
  padding-left: 45px;
  padding-right: 45px;
}
#lblPlainText2{
  border-bottom: 1px solid grey;
}
#lblkey3{
  border-bottom: 2px solid #000;;
}
#lblCount1, #lblCount2{
  margin-left: 5px;
  color: green;
  font-weight: bold;
}
.Footer{
  margin-top: 80px;
 
}
li{
  display: block;
  background-color: rgb(192, 192, 192);
}
